.link {
  text-decoration: none;
  color: inherit;
}

.animal-card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 20px;
  background: #A1A7FB;
  color: white;
}

/* Facultatif maintenant car .animal-card fait déjà flex */
.animal-card-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.animal-photo {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
}

.animal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animal-info h3 {
  font-size: 18px;
  margin: 0;
}

.animal-info p {
  margin: 2px 0;
  font-size: 14px;
}
